*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

body{
    background: linear-gradient(to right,blue,purple);
}

.clock{
    width: 500px;
    height: 100px;
    background: rgba(235,0,255,0.14);
    border-radius: 10px;
    margin-top: 20%;
    margin-left: 32%;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}